@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 25, 21, 82;
  --background-end-rgb: 25, 21, 82;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.raleway {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
.fira {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* DELETE ON HOME */
/* styles/slider.module.css */

.sliderContainer {
  overflow: hidden;
  width: 100%;
  /* Adjust width as needed */
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 50%;
  /* Show 2 slides at a time */
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  /* Center content */
}
